
@{
    ViewBag.Title = "Inscription";
}

<h2>Inscription</h2>

@Model Users.Models.User
<h3>Inscription </h3>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("login")
        @Html.TextBox("login")
        @Html.ValidationMessage("login")
    </div>
    <div>
        @Html.Label("Password")
        @Html.Password("Password")
        @Html.ValidationMessage("Password")
    </div>
    <input type="submit" value="Register" />
}
