
@{
    ViewBag.Title = "Contact";
}

<img id="logo" src="../Images/TravelAgencyLogo.jpg" alt="Logo" width="15%" align="center" float="right">
<h2 align="center">Contact</h2>

<p align ="center">
    @Html.ActionLink("Homepage", "Index") &nbsp
    @Html.ActionLink("Packages", "Packages") &nbsp
    @Html.ActionLink("Forum", "Forum") &nbsp
    @Html.ActionLink("Testimonies", "Testimonies") &nbsp
    @Html.ActionLink("Gallery", "Gallery") &nbsp
    @Html.ActionLink("FAQ", "FAQ") &nbsp
    @Html.ActionLink("Contact", "Contact") &nbsp
</palign>

<h3>Alexis Voyage</h3>
<p>
    Address: <br>
    Room 340 <br>
    Nice Plaza<br>
    06000 Nice<br>
    France
</p>
<p>Tel: 0678946389</p>
<p>Email: alexis@alexisvoyage.com</p>
<p>Map</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.983219743273!2d7.211593291104739!3d43.66931880875832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdd11ade88ff4b%3A0xb05e6eac046fca6b!2simmeuble%20nice%20plaza!5e0!3m2!1sen!2sfr!4v1580130015919!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>