
@{
    ViewBag.Title = "FAQ";
}

<img id="logo" src="../Images/TravelAgencyLogo.jpg" alt="Logo" width="15%" align="center" float="right">
<h2 align ="center">FAQ</h2>

<p align ="center">
    @Html.ActionLink("Homepage", "Index") &nbsp
    @Html.ActionLink("Packages", "Packages") &nbsp
    @Html.ActionLink("Forum", "Forum") &nbsp
    @Html.ActionLink("Testimonies", "Testimonies") &nbsp
    @Html.ActionLink("Gallery", "Gallery") &nbsp
    @Html.ActionLink("FAQ", "FAQ") &nbsp
    @Html.ActionLink("Contact", "Contact") &nbsp
</p>

<br>
<br>
<p><b>How much does it cost?</b></p>
<p>All depends on the trip. As we also offer custom-made voyages, please get in touch with one of our agents to discuss.</p>
<br>
<p><b>What is included?</b></p>
<p>We will be happy to help you with hotel, transport, tour guides and sightseeing. Pocket money however is not included.</p>
<br>
<p><b>How should I prepare for my trip?</b></p>
<p>Please make sure you have a valid passport (if travelling abroad). Otherwise, don't worry, we will take care of everything(including visas, health insurance etc.).</p>
<br>
<p><b>I need to cancel my trip because of medical reasons/personal circumstances. Can you offer a full refund?</b></p>
<p>This depends on the cause of cancellation. We can only offer up to 80% refund.</p>