
@{
    ViewBag.Title = "Gallery";
}

<img id="logo" src="../Images/TravelAgencyLogo.jpg" alt="Logo" width="15%" align="center" float="right">
<h2 align ="center">Gallery</h2>

<p align ="center">
    @Html.ActionLink("Homepage", "Index") &nbsp
    @Html.ActionLink("Packages", "Packages") &nbsp
    @Html.ActionLink("Forum", "Forum") &nbsp
    @Html.ActionLink("Testimonies", "Testimonies") &nbsp
    @Html.ActionLink("Gallery", "Gallery") &nbsp
    @Html.ActionLink("FAQ", "FAQ") &nbsp
    @Html.ActionLink("Contact", "Contact") &nbsp
</p>

<br>
<br>
<br>

<div class="row" id="threeColumns">
    <div class="firstColumn">
        <p>
            Argentina
            <br>
            <img src="~/Images/Argentina_Gauchos.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Argentina_Patagonia.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Argentina_Tango.jpg" alt="Sample Image" width="80%" />
        </p>
        <br>
        <p>
            Australia
            <br>
            <img src="~/Images/Australia_Bridge.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Australia_GreatOceanRoad.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Australia_Kangaroo.jpg" alt="Sample Image" width="80%" />
        </p>
    </div>
    <br>
    <div class="secondColumn">
        <p>
            China
            <br>
            <img src="~/Images/China_Shanghai.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/China_Temple.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/ChinaGreatWall.jpg" alt="Sample Image" width="80%" />
        </p>
        <br>
        <p>
            Nepal
            <br>
            <img src="~/Images/Nepal_Bodhnath-Stupa.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Nepal_Kathmandu.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/NepalMonkeyTemple.jpg" alt="Sample Image" width="80%" />
        </p>
    </div>
    <br>
    <div class="thirdColumn">
        <p>
            Turkey
            <br>
            <img src="~/Images/Turkey_BlueMosque.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Turkey_HagiaSophia.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/TurkeyCappadocia.jpg" alt="Sample Image" width="80%" />
        </p>
        <br>
        <p>
            Vietnam
            <br>
            <img src="~/Images/Vietnam_HalongBay.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Vietnam_HoiAn.jpg" alt="Sample Image" width="80%" />
            <br>
            <img src="~/Images/Vietnam_Street.jpg" alt="Sample Image" width="80%" />
        </p>
    </div>
</div>
