
@{
    ViewBag.Title = "Testimonies";
}

<img id="logo" src="../Images/TravelAgencyLogo.jpg" alt="Logo" width="15%" align="center" float="right">
<h2 align ="center">Testimonies</h2>

<p align ="center">
    @Html.ActionLink("Homepage", "Index") &nbsp
    @Html.ActionLink("Packages", "Packages") &nbsp
    @Html.ActionLink("Forum", "Forum") &nbsp
    @Html.ActionLink("Testimonies", "Testimonies") &nbsp
    @Html.ActionLink("Gallery", "Gallery") &nbsp
    @Html.ActionLink("FAQ", "FAQ") &nbsp
    @Html.ActionLink("Contact", "Contact") &nbsp
</p>

<br>
<br>
<p class="box">
    I really enjoyed my trip to China! The organisation of the trip and the tour guides were outstanding.
    <div style='text-align:center;'><div>~John</div></div>
</p>
<br>

<p class="box">
    It had been our greatest dream to go to Australia. We can confidently say that we had the time of our lives. All that thanks to Alexis Voyage.
    <div style='text-align:center;'><div>~Kristy</div></div>
</p>
<br>

<p class="box">
    It was my first trip in Asia. Thanks to Alexis Voyage, I discovered the rich Eastern culture and overcame my fear of unknown. Thank you!
    <div style='text-align:center;'><div>~Maddy</div></div>
</p>
<br>

<p class="box">
    We went to Turkey on our honeymoon. Alexis Voyage took care of our hotel, transport and sightseeing.
    Our custom-made trip was a truly unforgettable experience that we will remember for the rest of our lives!
    <div style='text-align:center;'><div>~Josh</div></div>
</p>

